header, footer {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%); }

/************************* Layout Styling **********************/
.footer .text-muted {
  margin: 20px 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }

.top-buffer {
  margin-top: 20px; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

/************************** Navigation Bar Styling ****************/
.navbar-default {
  background: #f9c667;
  background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9c667), color-stop(100%, #f79621));
  background: -webkit-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: -o-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: -ms-linear-gradient(top, #f9c667 0%, #f79621 100%);
  background: linear-gradient(to bottom, #f9c667 0%, #f79621 100%); }

.navbar-nav {
  width: 100%; }
  @media (max-width: 768px) {
    .navbar-nav {
      margin: 0; } }

.navbar-default .navbar-nav > .active > a {
  background-color: #FFD596; }

.navbar .nav li {
  border-bottom: 1px solid white; }
  .navbar .nav li a:active,
  .navbar .nav li a:hover {
    background-color: #E68A00 !important; }
  .navbar .nav li:last-child {
    border-bottom: 0; }
  @media (min-width: 768px) {
    .navbar .nav li {
      /*remove bottom border of defualt case for extra small screen.*/
      /* Add border right to all list items except 2nd and fourth elements */ }
      .navbar .nav li:nth-child(3) {
        border-bottom: 0; }
      .navbar .nav li:nth-child(2n+1) {
        border-right: 1px solid white; } }
  @media (min-width: 992px) {
    .navbar .nav li {
      border-bottom: 0; }
      .navbar .nav li:nth-child(2) {
        border-right: 1px solid white; } }

/************************** Font Styling  ***********************/
header h1 {
  text-align: center;
  color: #356aa0; }

h3, h4 {
  color: #356aa0; }

/************************** Image styling ************************/
.jumbotron {
  background-image: url("../img/soccer-field.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 75vh; }

.glyphicon {
  color: #356aa0;
  padding-right: 10px; }

#internal #black_stuff_3_ g {
  fill: orange; }

svg {
  width: 900px;
  height: 600px; }

#shadow {
  fill: white; }

.first-ball {
  width: 20%; }

#security-code-img {
  display: none;
  opacity: 0; }

/********************** Table Styling *******************/
table caption {
  color: #356aa0;
  font-size: 1.2em; }

.table-striped > tbody > tr:first-child {
  background-color: #3796C5; }

.table-striped > tbody > tr:nth-child(2n+3) {
  background-color: #c1dfee; }

/********************* Form Styling  *********************/
#register-form label {
  color: #356aa0; }

.glyphicon.glyphicon-question-sign {
  display: none; }

fieldset legend {
  color: #FEA604; }

.form-group.required .control-label:after {
  content: " *";
  color: orange; }

button[type="submit"] {
  width: 40%; }

/********************** Media Queries *******************/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Force form groups to align properly.*/
  .form-inline .form-group {
    display: block;
    margin-top: 15px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* remove top buffer that was added to form column for screen-sm-min */
  #register-form {
    margin-top: 0; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .glyphicon.glyphicon-question-sign {
    display: inline;
    padding-left: 10px; }
    .glyphicon.glyphicon-question-sign:hover #security-code-img {
      width: 50%;
      display: inline-block;
      opacity: 1; }

  .form-inline .form-group {
    display: inline-block;
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
