@import "variables";
@import "mixins";
@import "sticky-footer";


header,footer{
    @include getHeadFootBackGroundColor();
}

/************************* Layout Styling **********************/
.footer .text-muted {
  margin: 20px 0;
}
@include stickFooter($sticky-footer-height);

.top-buffer{
    margin-top: $top-buffer;
}

/************************** Navigation Bar Styling ****************/
.navbar-default{
    @include getNavBarBackgroundColor();
}

.navbar .nav li{
    padding-left: 0;
    padding-right: 0;
    border-left: 1px solid white;
    &:first-child{
        border-left: 0;
    }
    a{
        color: $glyphicon-color;
    }
}
.navbar .container{
    padding-right: 0;
}

.nav a span{
    /*padding between glyph and navigation text*/
    padding-right: 10px;
}

/************************** Font Styling  ***********************/
header h1{
    text-align: center;
    color: $glyphicon-color;
}

article h3{
    color: $glyphicon-color;
}
/************************** Image styling ************************/
#soccer-field{
    width: 100%;
}
.container .jumbotron{
    padding: 0;
}

.jumbotron{
    padding: 0;
    margin: 0;
    background-image: url("../img/soccer-field.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 75vh;
}

.navbar .glyphicon{
    color: $glyphicon-color;
}

#internal #black_stuff_3_ g{
    fill: orange;
}

#shadow {
    fill: white;
}

#first-ball{
    width: 20%;
}
