@import "variables";
@import "mixins";
@import "sticky-footer";


header,footer{
    @include getHeadFootBackGroundColor();
}

/************************* Layout Styling **********************/
.footer .text-muted {
  margin: 20px 0;
}
@include stickFooter($sticky-footer-height);

.top-buffer{
    margin-top: $top-buffer;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

/************************** Navigation Bar Styling ****************/
.navbar-default{
    @include getNavBarBackgroundColor();
}

.navbar-nav{
    width: 100%;
    @media (max-width: $screen-sm-min) {
        margin: 0;
    }
}

.navbar-default .navbar-nav>.active>a{
    background-color: $nav-bar-active-color;
}

.navbar .nav li{
    border-bottom: 1px solid white;
    a:active,
    a:hover{
        background-color: $nav-bar-hover-color !important;
    }
    &:last-child{
        border-bottom: 0;
    }

    @media (min-width: $screen-sm-min) {
        /*remove bottom border of defualt case for extra small screen.*/
        &:nth-child(3){
            border-bottom: 0;
        }
        /* Add border right to all list items except 2nd and fourth elements */
        &:nth-child(2n+1){
            border-right: 1px solid white;
        }
    }

    @media (min-width: $screen-md-min){
        border-bottom: 0;
        &:nth-child(2){
            border-right: 1px solid white;
        }
    }
}


/************************** Font Styling  ***********************/
header h1{
    text-align: center;
    color: $glyphicon-color;
}

h3,h4{
    color: $glyphicon-color;
}
/************************** Image styling ************************/
.jumbotron{
    background-image: url("../img/soccer-field.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 75vh;
}

.glyphicon{
    color: $glyphicon-color;
    padding-right: 10px;
}

#internal #black_stuff_3_ g{
    fill: orange;
}

#shadow {
    fill: white;
}

#first-ball{
    width: 20%;
}

#security-code-img{
    display: none;
    opacity: 0;
}

/********************** Table Styling *******************/
table caption{
    color: $glyphicon-color;
    font-size: 1.2em;
}

.table-striped>tbody>tr:first-child{
    background-color: $table-header-backgroundcolor;
}
.table-striped>tbody>tr:nth-child(2n+3){
    background-color: $table-odd-rows-backgroundcolor;
}

/********************* Form Styling  *********************/
#register-form label{
    color: $glyphicon-color;
}

.glyphicon.glyphicon-question-sign{
    display: none;
}

fieldset legend{
    color: #FEA604;
}

.form-group.required .control-label:after {
   content:" *";
   color: orange;
}

button[type="submit"]{
    width: 40%;
}
/********************** Media Queries *******************/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    /* Force form groups to align properly.*/
    .form-inline .form-group{
        display: block;
        margin-top: 15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

    /* remove top buffer that was added to form column for screen-sm-min */
    #register-form{
        margin-top: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
    .glyphicon.glyphicon-question-sign{
        display: inline;
        padding-left: 10px;

        &:hover{
            #security-code-img{
                width: 50%;
                display: inline-block;
                opacity: 1;
            }
        }
    }

    .form-inline .form-group{
        display: inline-block;
        width: 50%;
    }
}
