@import "variables";
@import "mixins";
@import "sticky-footer";

.container{
/*
    background-image: url("../img/soccer-field.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
*/
/*    height: 500px;*/
}

header,footer{
    @include getHeadFootBackGroundColor();
}

.footer .text-muted {
  margin: 20px 0;
}
@include stickFooter($sticky-footer-height);


.top-buffer{
    margin-top: $top-buffer;
}

/************************** svg styling ************************/
#internal #black_stuff_3_ g{
    fill: orange;
}

#shadow {
    fill: white;
}

#first-ball{
    width: 20%;
}
